---
title: Home
layout: plain

image:  /assets/headers/keyboardkit.jpg

description: The KeyboardKit SDK lets you create amazing custom keyboards for Apple platforms, using modern technologies like Swift & SwiftUI.
---

{% include sections/start-hero %}

<a name="features"></a>
<section class="showcase blue glass">
  {% include sections/start-features %}
</section>

<a name="get-started"></a>
<section class="showcase dark blue">
  {% include sections/start-get-started %}
</section>

<a name="choose-path"></a>
<section class="showcase purple glass">
  {% include sections/start-path %}
</section>

<a name="content"></a>
<section class="showcase glow">
  {% include sections/start-what-is %}
  {% include sections/start-why-choose %}
  {% include sections/start-industries %}
  {% include sections/start-case-studies %}
</section>

<section class="showcase glow">
  {% include sections/start-faq %}
</section>

<section class="showcase purple glass">
  {% include sections/start-news %}
  {% include sections/start-social %}
</section>

<section class="showcase dark blue">
  {% include sections/ready-to-build %}
</section>
