---
title: Home
layout: plain

image:  /assets/headers/keyboardkit.jpg

description: Use the KeyboardKit SDK to easily create amazing custom keyboards across all Apple platforms. Cut months of development time.
---

{% include sections/start-hero %}

<section class="showcase purple glass">
  {% include sections/numeric-items %}
</section>

<section class="showcase blue glass">
  {% include sections/start-features %}
</section>

<section class="showcase dark blue">
  {% include sections/start-get-started %}
</section>

<section class="showcase purple glass">
  {% include sections/start-path %}
</section>

<section class="showcase glow">
  {% include sections/start-what-is %}
  {% include sections/start-why-choose %}
  {% include sections/start-industries %}
  {% include sections/start-case-studies %}
  {% include sections/start-faq %}
</section>

<section class="showcase purple glass">
  {% include sections/start-news %}
  {% include sections/start-social %}
</section>

<section class="showcase dark blue">
  {% include sections/ready-to-build %}
</section>
