---
title: Home
layout: plain

image:  /assets/headers/keyboardkit.jpg

description: Replace the native iOS keyboard with your own fully customizable replacement, and make your app's unique features available in all other apps.
---

{% include sections/home/hero %}

<section class="showcase blue glass">
  {% include sections/home/features %}
</section>

<a name="get-started"></a>
<section class="showcase dark blue">
  {% include sections/home/get-started %}
</section>

<a name="love"></a>
<section class="showcase purple glass">
  {% include sections/home/choose-path %}
</section>

<a name="learn-more"></a>
<section class="showcase glow">
  {% include sections/home/what-is %}
  {% include sections/home/why-choose %}
  {% include sections/home/industries %}
  {% include sections/home/case-studies %}
  {% include sections/home/faq %}
</section>

<section class="showcase purple glass">
  {% include sections/home/news %}
  {% include sections/home/social %}
</section>

<section class="showcase dark blue">
  {% include sections/ready-to-build %}
</section>
