.business-tiers {

  &.col3 {
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }

  .tier {
    padding: 20px;
    text-align: left;
    background-color: #ffffff88;
    font-size: 0.75em;

    h3 { 
      margin-top: 0px; 
      margin-bottom: 20px;
      font-size: 1em;
      background-color: #EAF3FD;
      border: solid 1px #D8E7FB;
      border-radius: 10px;
      color: #4589EC;
      display: inline-flex;
      padding: 5px;
    }

    .price {
      color: $foreground-secondary;

      .pre {
        color: $foreground;
        font-size: 2em;
        font-weight: 500;
      }
    }

    .description {
      color: $foreground-secondary;
      font-size: 1.05em;
    }

    .features {
      margin: 20px 0;

      ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;

        li {
          margin-bottom: 3px;

          &:before {
            content: '›';
            margin-right: 8px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .cta {
      margin: 40px 0 0 0;
      display: block;
    }
  }
}

.business-features {

  margin: 40px 0;
  font-size: 0.85em;

  div {
    padding: 15px;

    &:nth-child(even) {
      background-color: $feature-table-even-row-color;
    }
  }

  a {
    font-weight: normal;
    text-decoration: underline;
  }

  h3 {
    margin: 0 0 5px 0 !important;
    font-size: 0.9em;
  }
}