.glass {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); // For Safari support
  border: 1px solid rgba(255,255,255,0.8);
  box-shadow: 0 4px 24px rgba(0,0,0,0.12);

  a:hover & {
    box-shadow: 0 4px 24px rgba(0,0,0,0.22);
  }

  &.warning { background: rgba(255, 193, 7, 0.15); }
  &.alert { background: rgba(220, 53, 69, 0.15); }
  &.blue { background: rgba(173, 216, 230, 0.15); }
  &.purple { background: rgba(216, 191, 216, 0.15); }
  &.pink { background: rgba(255, 182, 193, 0.15); }
  &.orange { background: rgba(255, 200, 124, 0.15); }
  &.dark { background: rgba(0, 0, 0, 0.15); }

  .tag {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 10;
    font-size: small;
    /* Add your existing tag styling here */
  }
}

.glass.panel {
  padding-top: 60px;
  padding-bottom: 60px;
  h3 { margin: 0; }
  .cta { 
    margin-top: 50px !important; 
    margin-bottom: 0 !important; 
  }
}

.glass-message {
  margin: 35px 0;
  padding: 0 20px;
  font-size: 0.8em;
  text-align: center;

  &.below-hero {
    margin: 75px 0;
  }

  .glass {
    padding: 10px;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.4);
  }
}

.glass-background {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: -1;
    background: url('/assets/glass/bg1.jpg');
    background-position: center;
    background-size: 100% 100%; /* Stretch image to exactly fill panel */
    background-repeat: no-repeat;
  }

  &.bg1::before { background-image: url('/assets/glass/bg1.jpg'); }
  &.bg2::before { background-image: url('/assets/glass/bg2.jpg'); }
  &.bg3::before { background-image: url('/assets/glass/bg3.jpg'); }
  &.bg4::before { background-image: url('/assets/glass/bg4.jpg'); }
}