.promo-box {
  h3 {
    font-weight: 500; 
    margin-bottom: 0px;
    &.large { font-size: 2em; }
    &.medium { font-size: 1.5em; }
  }
  img {
    margin: 30px 0;

    &.small { max-width: 300px; }
  }
  .cta {
    margin-top: 30px;
  }
  &.glass .cta {
    margin-bottom: 30px;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

.paper .promo-box {
  hr {
    margin-bottom: -40px; 
    margin-top: 20px; 
    opacity: 0.5;
  }
}