.tier {
  text-align: center;
}

.tier.free, .tier.basic, .tier.standard {
  background-color: white;

  .cta {
    color: white;
    background-color: black;
  }
}

.tier.silver, .tier.starter {
  background-color: rgba(100, 100, 100, 0.1);

  .cta {
    color: white;
    background-color: black;
  }
}

.tier.gold, .tier.pro {
  border: solid 1px gold;
  background-color: rgba(255, 215, 0, 0.4);

  .cta {
    color: black !important;
    background-color: gold;
  }

  .cta:hover {
    text-decoration: none;
    box-shadow: 1px 2px 2px $shadow;
  }
}

.tier.custom, .tier.business {
  border: solid 1px #334;
  background-color: rgba(0, 0, 25, 0.8);
  color: white;

  .cta {
    color: black !important;
    background-color: white;
  }
}

.business-tiers {

  &.col3 {
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }

  .tier {
    padding: 20px;
    text-align: left;
    background-color: #ffffff88;
    font-size: 0.75em;

    h3 { 
      margin-top: 0px; 
      margin-bottom: 20px;
      font-size: 1em;
      background-color: #EAF3FD;
      border: solid 1px #D8E7FB;
      border-radius: 10px;
      color: #4589EC;
      display: inline-flex;
      padding: 5px;
    }

    .price {
      color: $foreground-secondary;

      .pre {
        color: $foreground;
        font-size: 2em;
        font-weight: 500;
      }
    }

    .description {
      color: $foreground-secondary;
      font-size: 1.05em;
    }

    .features {
      margin: 20px 0;

      h4 {
        color: $foreground-secondary;
        margin-bottom: 5px;
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;

        li {
          margin-bottom: 3px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .cta {
      margin: 40px 0 0 0;
      display: block;
    }
  }
}