// Hero

section.hero {
  img.icon {
    width: 220px;
    border-radius: 26%;

    @media (max-width: 700px) {
      width: 100px;
    }
  }

  h1 {
    @media (min-width: 701px) {
      font-size: clamp(2.9rem, 7vw, 4.5rem);
    }
  }
}
