---
permalink: /pro
layout: plain

title: Pro

description: KeyboardKit Pro unlocks powerful features like 76 locales, autocomplete, AI support, dictation, themes, and much more.
---

<section class="hero glow gold">
  <div class="yellow glass tag rounded">Pro Features</div>
  <h1>KeyboardKit Pro</h1>
  <h2>Unlock Pro features that take your keyboard to the next level.</h2>
  <p>{{page.description}}</p>
  <div>
    <a href="#pricing" class="cta">View Pricing</a>
    <a href="#features" class="cta glass">View Features</a>
  </div>
</section>

<a name="pricing"></a>
<section class="showcase blue glass">
  <article class="wrapper wide slide-in">
    <h2>Flexible Pricing</h2>
    <p>From indie developers to large organizations - KeyboardKit Pro scales with your needs.</p>
    {% include licenses/tier-boxes %}
    <div>
      <a href="/pricing" class="cta">View Full Details</a>
    </div>
  </article>
</section>

<a name="features"></a>
<section class="showcase glow">
  <article class="wrapper wide slide-in">
    <h2>Everything you need.</h2>
    <p>KeyboardKit Pro gives you the full toolkit — from language support and autocomplete to AI.</p>
    <div class="grid col4 carousel mobile">
      {% comment %} Preferred, but not supported by GitHub Pages Liquid:
      {% assign features = site.data.features | where: "card.tags" contains: "pro" | sort: "title" %}
      {% endcomment %}
      {% assign features = "" | split: "" %}
      {% for feature in site.data.features %}
        {% if feature.card.tags contains "pro" %}
          {% assign features = features | push: feature %}
        {% endif %}
      {% endfor %}
      {% assign features = features | sort: "title" %}
      {% for feature in features %}
        {% include kankoda/components/image-card item=feature show-tags=0 %}
      {% endfor %}
    </div>
    <div>
      <a href="/features" class="cta">View All Features</a>
    </div>
  </article>
</section>

<a name="features"></a>
<section class="showcase blue">
  {% include sections/pro/faq %}
</section>

<section class="showcase dark">
  <div class="wrapper slide-in">
    <h2>Ready to go Pro?</h2>
    <p>Start with a free trial and upgrade when you're ready. No credit card required, no commitment, just full access to everything KeyboardKit Pro has to offer.</p>
  </div>
</section>
